.chatForm {
    border-top: 1px solid black;
    width: 85%;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.emojiButton {
    float: left;
    width: 4%;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
}

.emoji-icon {
    justify-content: center;
    align-items: center
}

.inputField {
    width: 91%;
    background-color: #4f535b;
}

::placeholder {
    color: #d3cfcf;
}

.sendButton {
    cursor: pointer;
    float: right;
    width: 4%;
}