.pageContainer {
  position: relative;
  margin: auto;
  display: flex;
  background: #36393f;
}

/* Side bar */

.sideBar {
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  width: 15%;
  background-color: #2f3136;
  border-right: 2px solid black;
}

.sideBar ul {
  padding: 0;
  margin: 0
}

.sideBar li {
  padding: 10px;
  letter-spacing: 4px;
  font-size: 20px;
  color: #8e9297;
  cursor: pointer;
}

.sideBar ul li:hover {
  transition: all 0.7s ease 0s;
  background: #6a6e72;

}

.sideBar ul li:hover {
  transition: all 0.5s ease 0s;
  color: #d3cfcf
}

.channelStyle {
  display: block;
}

/* Right box, chat box */

.pageStyles {
  box-sizing: border-box;
  width: 85%;
  min-height: 100vh
}


/* messages */

.messageTitle {
  padding: 1rem;
  background-color: #60656f;
  border-bottom: 1px solid black
}

.messageBox {
  height: 81vh;
}

.message {
  color: #d3cfcf;
  padding: 5px;
}

.messagePublisher {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.messagePublisher>li {
  display: inline-block;
  width: 30%;
  font-size: 30px;
}

.messagePublisher>li:nth-child(2) {
  font-size: 15px;
}