/* .page-styles {
    align-items: center;
    background-color: #282c34;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  };
  
  .chat-styles {
    position: relative;
    border: #0046d3 solid;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 50%;
  };
  
  .channel {
    border: #d3be00 solid;
    display: inline-flex;
  } */


